// Colors
$white: #fff;
$black: #000;
$grey: #595959;
$grey-dark: #2b2b2b;
$grey-light: #eee;
$blue: #2196F3;

// Transition
$duration: 400ms;
$easing: ease;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background-color: $grey-light;
  height: 70px;
  margin: 10px 0;
  ul {
    list-style: none;
    padding: 0;
    li {
      color: $grey;
      font-size: 20px;
      letter-spacing: 0.1em;
      line-height: 70px;
      transition: $duration $easing;
      cursor: pointer;
      a {
        padding: 25px;
      }
      &:hover,
      &.active{
        background-color: $blue;
        color: $white;
        transition: $duration $easing;
      }
    }
  }
}
.prev:hover,
.next:hover {
    color: $blue !important;
    background-color: transparent !important;
}


