.card {
  background: #ffffff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 250px;
  margin: 1em;
  border-radius: 10px;
  display: inline-block;
  &__header {
    padding: 0;
    margin: 0;
    height: 350px;
    width: 100%;
    display: block;
    img {
      width: 250px;
    }
  }
  &__header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  }
  &__content {
    padding: 18px 18px 24px 18px;
    margin: 0;
    .head {
      display: table;
      width: 100%;
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: #2196F3;
        }
      }
      .rating {
        width: 50px;
        height: 15px;
        background-size: contain;
        display: table-cell;
        text-align: right;
        position: relative;
        margin-top: 5px;
        font-weight: 600;
        span {
          color: #2196F3;
        }
      }
    }
  }
}
.wrapper {
  margin: 10px 15px;
}
.movie__card {
  background-color: #fefefe;
  width: 16em;
  margin: .50em;
  box-shadow: 0 5px 15px gray;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    transform: scale(1.04);
    box-shadow: 0 -3px 20px gray;
  }
  img {
    width: 16em;
    height: 23em;
  }
  figcaption {
    padding: 0 .80em;
    height: 70px;
    h5 {
      text-transform: uppercase;
      color: #1C1C1C;
      margin: 5px 0 0 0;
    }
    h4 {
      color: #1C1C1C;
      margin: 0;
    }
    .rating {
      display: flex;
      align-items: center;
      margin-top: 5px;
    }
  }
}