@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: aqua;

  .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 80%;
  }
  &__logo {
    display: flex;
    align-items: center;
    color: black;
    font-family: 'Concert One', cursive;
    font-size: 18px;
  }
  &__api {
    display: flex;
    align-items: center;
    width: 100px;

    img {
      width: 100px;
    }
  }
}
